option_settings:   
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:server

files:
  "/etc/nginx/conf.d/your_custom_config.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # NGINX custom configuration directives
      types_hash_max_size 1024;
      types_hash_bucket_size 64;